# This is a basic workflow to help you get started with Actions

name: Terraform Github Actions Demo

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    env:
      ARM_SUBSCRIPTION_ID: '18877d87-c4d6-429e-abbb-bfe78da42dfd'
      ARM_CLIENT_ID: '0470a4c9-b790-4af3-8ee1-0a7aefeadd04'
      ARM_TENANT_ID: '646fb7f7-62ce-4a43-81ec-7cedd8da2756'
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      AZURE_STORAGE: 'acmeterraformtest42'

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Azure Login
        uses: Azure/login@v1
        with:
          # Paste output of `az ad sp create-for-rbac` as value of secret variable: AZURE_CREDENTIALS
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      - name: HashiCorp - Setup Terraform
        uses: hashicorp/setup-terraform@v1.2.1

      - name: Run a one-line script
        run: chmod +x ./tfstate.sh && ./tfstate.sh ${{ env.AZURE_STORAGE }}
        
      - name: Terrraform init
        run: terraform init -backend-config="storage_account_name=${{env.AZURE_STORAGE}}"
        
      - name: Terraform plan
        run: terraform plan -out=tfplan
        
      - name: Terraform apply
        run: terrraform apply tfplan
      
      
  
